/* ============= General ===================*/

/* Body */
body {
	font-family:  'Raleway', sans-serif, Arial, sans-serif;
	margin: 0;
	background-color: #b3b6bc;
}

/* Paragraphs */
p {
	margin: 0 0 5 0;
	line-height: 1.1;
}

/* Quotes */
.quote {
	font-style: italic;
}

/* Span */
span {
	text-transform: uppercase;
	font-weight: bold;
}

/* Navigations */
nav {
	text-transform: uppercase;
}

/* Unordered Lists */
ul {
	list-style-type: none;
	padding: 0;

}

li {
	display: inline-block;
	margin-right: 10x;
	margin-left: 10px;
	padding: 5px;
	transition: background-color 2s;
}

/* Anchors */
a {
	text-decoration: none;
	color: white;
}



/* ============= Headings ===================*/

/* 1st Heading */
h1 {
	margin: 0;
	width: 350px;
	position: absolute;
	top: 10px;
	left: 30px;
}

/* 2nd Heading */
h2 {
	margin: 0;
	padding: 10px 0 20px 0;
	font-family: Bevan;
}

/* 3rd Heading */
h3 {
	margin: 0;
	padding: 10px 0 0 0;
	font-family: Bevan;
}

/* 4th Heading */
h4 {
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}


/* ============= Images ===================*/

/* Images */
img {
	box-shadow: 5px 5px 20px grey;
}

/* Figure Captions */
figcaption {
	text-align: center;
}


/* ============= Forms ===================*/

fieldset {
	background-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
}

legend {
	font-weight: bold;
}

button.btn-submit {
	background-color: #F25529;
	color: #FFF;
	border: none;
	padding: 15px 32px;
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

button.btn-clear {
	background-color: #b3b6bc;
	color: #FFF;
	border: none;
	padding: 15px 32px;
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


/* ============= Header ===================*/

/* Header */
header {
	color: #FFF;
	background-color: #000;
	height: 120px;
	position: relative;
}

/* Main Navigation (Header) */
nav#nav-header {
	width: 600px;
	position: absolute;
	top: 40px;
	right: 20px;
}

/* Main Navigation (Header) li:hover  */
nav#nav-header ul li:hover {
	background-color: #2d2d2d;
	border-bottom: 4px solid #ed8a1a;
}

/* Anchor's pseudo classes */
nav#nav-header li a:visited {
	color: lightgrey;
}

/* Sony Brand */
#sony {
	font-size: 70%;
	color: #b3b6bc;
}

/* Paragraphs inside h1*/
h1 p {
	line-height: 0;
}


/* ============= Main Containers ===================*/

/* Main */
main {
	position: relative;
	min-height: 500px;
	background: #FFF url("../images/background.png") repeat;
}

/* Main Container */
.main-container {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 20px;
}


/* ============= Flexbox CSS ===================*/

/* Flex Container */
.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.wrap {
	flex-wrap: wrap;
}

/* Flex Container - Center*/
.flex-container-center {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

/* Flex Container - Align: Center*/
.flex-container-align-center {
	align-items: center;
}

/* Flex Container - Content: End*/
.flex-container-end {
	display: flex;
	justify-content: flex-end;
}

/* Flex Container - Direction: Column */
.flex-direction-column {
	display: flex;
	flex-direction: column;
}


/* ============= Footer ===================*/

/* Footer */
footer {
	background-color: #b3b6bc;
	position: relative;
	height: 100px;
}

/* Navigation - Footer */
nav#nav-footer {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 70%;
}

/* Navigation - Social Media - Footer */
nav#nav-social-media {
	position: absolute;
	right: 30px;
	top: 20px;
}

/* Social Media Icons - Footer */
nav#nav-social-media img {
	box-shadow: none;
	margin-left: 10px;
}

/* Copyright Content - Footer */
p#copyright {
	position: absolute;
	left: 25px;
	top: 60px;
	text-align: left;
	font-size: 70%;
}

/* Anchors Footer Navigation */
nav#nav-footer a {
	color: #2d2d2d;
}

nav#nav-footer li a:visited {
	color: #3d3d3d;
}



/* ============= Home Page ===================*/

/* Div - Introduction + Call-to-action */
div.col-8 {
	width: 66%;
	float: left;
}

/* Div - Image */
div.col-4 {
	width: 33%;
	float: left;
}

div.col-4 img {
	max-width: 400px;
	width: 100%;
}

/* Section - Introduction */
section#intro-text {
	padding: 10px;
	margin: 50px 50px 50px 0;
	background-color: rgba(255, 255, 255, .5);
}

/* Paragraphs inside Section - Introduction */
section#intro-text p {
	text-align: center;
}

/* Figure - Main */
figure#intro-product {
	margin: 50px 0;
}

/* Call-to-action - Buy Online Now*/
div#cta-buy {
	background-color: #ed8a1a;
	color: #FFF;
	padding: 5px;
	margin: 0 auto;
	width: 300px;
	text-align: center;
}


/* ============= Products Page ===================*/

/* Gallery Section */
section#img-gallery {
	margin: 0 auto;
}

/* ============= Reviews Page ===================*/

/* Images */
main#main-reviews img {
	box-shadow: none;
}

/* ============= Buy Now Page ===================*/

/* Form Container */
div#form-container {
	width: 60%;
}

/* Div - Holiday Promo */
div#promo {
	background-color: #ef8645;
	color: #FFF;
	padding: 5px 10px 5px 10px;
	margin: 10px;
	text-align: center;
	width: 15%;
}

/* Div - Free Shipping */
div#free-shipping {
	background-color: #000;
	color: #FFF;
	padding: 5px 10px 5px 10px;
	margin: 10px;
	text-align: center;
	width: 15%;
}

/* ============= Support Page ===================*/

/* Section - Phone Support */
section#phone-contact {
	background-color: #2d2d2d;
	color: #FFF;
	width: 300px;
	padding: 10px;
	margin-left: 10px;
}

/* ============= About Us Page ===================*/

/* Div - Information About Sony */
div#about-sony {
	width: 70%;
}

/* Aside - Extra Information About Sony */
aside {
	background-color: rgba(255, 255, 255, 0.5);
	width: 400px;
	align-items: flex-start;
	padding: 10px;
	box-shadow: 5px 5px 20px grey;
	margin-left: 10px;
}

/* Aside Table*/
td {
	width: 200px;
	border: 2px solid #8d8d8d;
}

td:first-child {
	font-weight: bold;
}

/* iFrame Map */
iframe {
	width: 300px;
	height: 200px;
	border: 0;
}
